body{
    margin: 0;
    padding: 0;
}

body:before{
    content: '';
    position: fixed;
    width: 100vw;
    height: 100vh;
    background-image: url("SENTIMENT.jpg");
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    -webkit-filter: blur(10px);
    -moz-filter: blur(10px);
    -o-filter: blur(10px);
    -ms-filter: blur(10px);
    filter: blur(10px);
}
.contact-form
{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    width: 1100px;
    height: 600px;
    padding: 80px 40px;
    box-sizing: border-box;
    background: rgba(0,0,0,.5);
}
.avatar {
    position: absolute;
    width: 80px;
    height: 80px;
    border-radius: 50%;
    overflow: hidden;
    top: calc(-80px/2);
    left: calc(50% - 40px);
}
.contact-form h2 {
    margin: 0;
    padding: 0 0 20px;
    color: #fff;
    text-align: center;
    text-transform: uppercase;
}
.contact-form h3 {
    margin: 0;
    padding: 0 0 20px;
    color: #fff;
    text-align: center;
    
}
.contact-form input
{
    width: 25%;
    margin-bottom: 20px;
    text-align: center; 
   
}
.contact-form input[type="text"],
.contact-form textarea {
        margin: 0;
        position: absolute;
        top: 50%;
        left: 50%;
        -ms-transform: translate(-50%, -50%);
        transform: translate(-50%, -50%);
        font-size: 16px;
        }

.contact-form input[type="submit"] {
    height: 40px;
    color: #fff;
    font-size: 25px;
    background: red;
    cursor: pointer;
    border-radius: 25px;
    border: none;
    outline: none;
    margin-top: 25%;
    margin-right: 35%;
    margin: 0;
    position: absolute;
    top: 70%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}
.contact-form h2{
    margin: 0;
    padding: 0 0 20px;
    color: #fff;
    text-align: center;    
}
.contact-form a
{
    color: #fff;
    font-size: 16px;
    font-weight: bold;
    text-decoration: none;
}
input[type="checkbox"] {
    width: 20%;
}
